<!--
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    &lt;!&ndash;
            <bean class="ru.javawebinar.topjava.repository.mock.MockUserRepositoryImpl" id="mockUserRepository"/>

            <bean class="ru.javawebinar.topjava.service.UserServiceImpl">
                <constructor-arg name="repository" ref="mockUserRepository"/>
            </bean>
    &ndash;&gt;

    &lt;!&ndash; Not necessary, already included with component-scan &ndash;&gt;
   <context:annotation-config/>
&lt;!&ndash;
    <context:component-scan base-package="ru.javawebinar.**.repository"/>&ndash;&gt;
    <context:component-scan base-package="ru.javawebinar.**.service"/>

   &lt;!&ndash; <context:component-scan base-package="ru.javawebinar.**.web"/>&ndash;&gt;
   &lt;!&ndash; <bean id="mealExceed" class="ru.javawebinar.topjava.to.MealWithExceed"/>&ndash;&gt;
    <bean id="mealService" class="ru.javawebinar.topjava.service.MealServiceImpl"/>
  &lt;!&ndash;  <bean id="mealRepository" class="ru.javawebinar.topjava.repository.mock.InMemoryMealRepositoryImpl"/>
  &ndash;&gt;
    <bean id="adminRestController" class="ru.javawebinar.topjava.web.user.AdminRestController"/>
    <bean  class="ru.javawebinar.topjava.repository.mock.InMemoryUserRepositoryImpl"/>
    &lt;!&ndash; <bean id="userService" class="ru.javawebinar.topjava.service.UserServiceImpl">
        <constructor-arg ref="userService" value=""/>&ndash;&gt;




</beans>-->
